
* {
	margin: 0;
	box-sizing: border-box;
}

html {
	position: relative;
    min-height: 100%;
}

body {

}

h1, p, th, td {
	font-family: 'Droid Serif', serif;
	font-weight: 700;
}

h1 {
	font-size: 30px;
	padding-bottom: 20px;
}

p, td {
	font-weight: 400;
	font-size: 14px;
}

strong {
	font-weight: 700;
}

span {
	display: block;
}

